<footer class="{% if site.footer_fixed %}fixed-bottom{% else %}sticky-bottom{% endif %}" role="contentinfo">
  <div class="container">
    &copy; Copyright 2024 by {{ site.first_name }}
    {{ site.last_name }}.
  </div>
</footer>
